@media (min-width: 550px) {
    .header {
        width: 100%;
        flex-wrap: nowrap;
        
        .header_logo{
            flex-basis: 0;
        }

        .header_nav {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 0;

            .nav_link {
                border:none ;
            }

            .nav_btn {
                margin: 0 0 0 1em;
            }
        }
    }

    .values_cards-container {
        display: flex;
        flex-wrap: wrap;
        
        .values_text {
            width: 200px;
        }
    }

    .footer {
        .bottom {
            justify-content: center;

            .bottom_columns {
                flex-basis: 20%;
            }
        }
    }
}

@media(min-width: 750px) {
    .hero {
        height: 30vh;
        min-height: 350px;
    }

    .hero_content {
        display: flex;
        flex-direction: row-reverse;
        position: relative;

        .hero_img-container {
            margin: 3em 2em 0 0;

        }

        .hero_text-content {
            margin: 2em;
            justify-content: flex-start;
        }
    }
}