@import "resets", "variables";

body {
    font-family: "Poppins", sans-serif;
}

/* Globals */
h1, h2, h4 {
    font-family: "Sedan", Times, serif;
}

.container {
    padding: 1.5em;
    max-width: 1000px;
}

.btn {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    border: 2px solid $text-clr-dark;
    padding: .5em 1.5em;
}

.separator {
    border: none;
    border-top: 1px solid $accent-clr-bright;
    width: 120px;
    margin: 4em auto 2em auto;
}




/* Header */
.header {
    padding: 1.5em 2.5em;
    min-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    &_logo{
        flex-basis: 80%;
        font-size: 1.7rem;
        font-family: "Space Grotesk";
        font-weight: bold;
        text-transform: uppercase;
    }

    &_hamburger{
        border: 1.8px solid $text-clr-dark;
        padding: .2em .5em;
        border-radius: 2px;
        font-size: 1.2rem;
        box-shadow: 1px 1px 5px  $shadow-clr;
    }

    &_nav {
        text-align: center;
        margin: 1em auto;
        display: flex;
        flex-direction: column;

        .nav_link {
            padding: .5em;
            border-bottom: 1px solid $text-clr-medium;
            color: $text-clr-medium;
            transition: transform ease-in-out .3s;
        }

        .nav_link:hover {
            color: $text-clr-dark;
            transform: scale(1.05);
        }

        .nav_btn {
            margin-top: 1em;
        }

        .nav_btn:hover {
            background: $text-clr-dark;
            color: $text-clr-light;
        }
    }
    .hidden {
        display: none;
    }
}

.main.separator {
    margin: 5em auto 2.5em auto;
}


/* Hero */
.hero {
    background: $accent-clr;
    color: $text-clr-light;
    overflow: hidden;

   &_img-container{
        width: 100%;
        max-height: 500px;
        height: 40vh;
        background: url("https://images.unsplash.com/photo-1511895426328-dc8714191300?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        max-height: 500px;
        box-shadow: inset 0 0 0 50vw rgba(21, 20, 21, 0.5);

    }

    &_text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 2em;
        min-height: 60vh;
        text-shadow: 1px 1px 1px $shadow-clr;
    }

    &_heading {
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 1em;
        margin-bottom: .5em;
    }

    &_text {
        font-weight: 300;
        font-size: .8;
    }

    &_btn {
        margin-top: 2em;
        color: $text-clr-light;
        border-color: $text-clr-light;
        background-color: $accent-clr;

        &:hover {
            background: $text-clr-light;
            color: $accent-clr;
        }
    }
}

/* Values */ 

.values {
    text-align: center;
    margin: 0 auto;

    &_heading {
        font-size: 2.5em;
    }
    &_cards-container {
        display: flex;
        justify-content: center;
    }

    &_card {
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;

        .icon {
            background: $icon-bg-clr;
            font-size: 1.5em;
            height: 70px;
            width: 70px;
            color: $text-clr-light;
            text-align: center;
            vertical-align: middle;
            padding-top: 1em;
            border-radius: 50%;
        }

        h4 {
            font-size: 1.5em;
        }

        .values_text {
            color: $text-clr-medium;
            font-size: .9rem;
            line-height: 1.3em;
            margin-top: -.5em;
            min-width: 250px;
            max-width: 400px;
        }
    }
}

.about {
    width: 70%;
    height: 250px;
    background: $accent-clr;
    margin: 0 auto 3em auto;
    color: $text-clr-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7em;

    h4 {
        font-size: 2.3rem;
        text-align: center;
        line-height: 1em;
    }

    &_btn {
        border-color: $text-clr-light;
        text-align: center;

        &:hover {
            background: $text-clr-light;
            color: $accent-clr;
        }
    }
}

.footer {
    background-color: #e7e7e7;
    padding: 2.5em 2em;
    text-transform: uppercase;

   .top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5em;
    padding: 1em 0;
    border-bottom: 1px solid $text-clr-medium;
    
    &_logo, &_social-icons {
        font-size: 1.5rem;
    }

    &_logo {
        font-weight: 600;
    }

    &_social-icons {
        color: $text-clr-medium;

        i {
            margin-right: .5em;
        }
    }
   } 

   .bottom {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2em;
    text-align: center;
    line-height: 1.7;

    &_columns {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;

        h6 {
            font-size: .9rem;
            font-weight: 400;
            color: $shadow-clr;
            margin-bottom: .5em;
        }

        a {
            font-size: .7rem;
            font-weight: 500;
        }
    }
   }

}

@media (min-width: 550px) {
    .header {
        width: 100%;
        flex-wrap: nowrap;
        
        .header_logo{
            flex-basis: 0;
        }

        .header_nav {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 0;

            .nav_link {
                border:none ;
            }

            .nav_btn {
                margin: 0 0 0 1em;
            }
        }
    }

    .values_cards-container {
        display: flex;
        flex-wrap: wrap;
        
        .values_text {
            width: 200px;
        }
    }

    .footer {
        .bottom {
            justify-content: center;

            .bottom_columns {
                flex-basis: 20%;
            }
        }
    }
}

@media(min-width: 750px) {
    .hero {
        height: 30vh;
        min-height: 350px;
    }

    .hero_content {
        display: flex;
        flex-direction: row-reverse;
        position: relative;

        .hero_img-container {
            margin: 3em 2em 0 0;

        }

        .hero_text-content {
            margin: 2em;
            justify-content: flex-start;
        }
    }

}

@media(min-width: 1200px) {

    .about {
        flex-direction: row;
    }
}
